.Rproj.user
.Rhistory
.RData
.Ruserdata
carbamate_testing_sheet_MK-71018.csv
SVMRpredicted.csv
subsetting-df.R
findr2.R
runTT.R
getEQ.R
htbatch-forme.R
FilesForAD.R
buildTT.R
getr2.R
predY.R
qsarad.R
qsarml.R
RFwilliamsplot.jpeg
RFwilliamsplot.pdf
htbatch.txt
htbatch-other.txt
htbatch-hash.txt
packrat/lib*/
renv.lock
renv
